.gdf-handle {
  position: absolute;
  width: 4px;
  background-color: #4569ad;
  cursor: col-resize;
}

.gdf-handle:hover {
  border: 1px solid #4569ad;
  background-color: #5b8ae0;
}

.gdf-hidden {
  display: none !important;
}

.gdf-parent:hover .gdf-handle {
  display: block;
}

.gdf-table-clipped td.blob-code,
.gdf-table-clipped td.diff-text-cell {
  max-width: 0;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.gdf-table-clipped td.blob-code::-webkit-scrollbar,
.gdf-table-clipped td.diff-text-cell::-webkit-scrollbar {
  display: none;
}

.gdf-table-clipped td.blob-code.blob-code-inner,
.gdf-table-clipped td.blob-code .blob-code-inner,
.gdf-table-clipped td.diff-text-cell .diff-text-inner {
  white-space: pre;
}

.gdf-table-clipped td.diff-text-cell .diff-text-inner {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.gdf-table-clipped button.add-line-comment {
  position: fixed;
}

.gdf-table-clipped td.line-comments {
  overflow-x: hidden;
}

.gdf-table-clipped td.line-comments>div.comment-holder {
  min-width: 780px;
}

.gdf-btn-toggle-split {
  min-width: 76px;
  background: linear-gradient(90deg,
      #f85149 0%,
      #f85149 48%,
      #000000 49%,
      #000000 51%,
      #2ea043 52%,
      #2ea043 100%);
  border-color: #000000 !important;
}

.gdf-btn-toggle-add {
  min-width: 76px;
  background: linear-gradient(90deg,
      #f85149 0%,
      #f85149 23%,
      #000000 24%,
      #000000 25%,
      #2ea043 26%,
      #2ea043 100%);
  border-color: #000000 !important;
}

.gdf-btn-toggle-del {
  min-width: 76px;
  background: linear-gradient(90deg,
      #f85149 0%,
      #f85149 73%,
      #000000 74%,
      #000000 75%,
      #2ea043 76%,
      #2ea043 100%);
  border-color: #000000 !important;
}

div[class*=addCommentButton] {
  left: 0px;
}
